body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff;

  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 900;
}

:root {
  --clr-primary: #553d45;
  --clr-secondary: #d0a49d;

  --fontTitle: "Amatic SC", cursive;
  --fontContent: "Josefin Sans", sans-serif;
}
